.collection-item{
    display: flex;
    justify-content: space-between;
}

.cursor-pointer{
    cursor: pointer;
}
.material-icons{
    margin-right: 5px;
}
.vote-box{
    display: flex;
    align-items: center;
}